*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: #f5ba13;
    margin: auto;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

header h1 {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 4px;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
}

.note {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note-header {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note-content {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.note-btn-container {
    position: relative;
    float: right;
    margin-right: 10px;
}

.edit-note-btn {
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    margin-right:10px;
}

.delete-note-btn {
    color: #f5ba13;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5em;
    color: #ccc;
}

.error-message {
    color: #d32f2f;
    font-size: 13px;
    font-weight: 600;
    margin: 2px 0 4px 0;
}